<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/data_handler.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <body>
        <h1>ProMan</h1>
        <div id="boards"></div>
    </body>
</html>